name: Run_Python_Script

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # ดึงโค้ดในเครื่องคุณออกมา

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Run my script
        run: python hello.py  # นี่คือคำสั่งรันไฟล์ที่คุณเพิ่งสร้าง!
